/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header Styles */

#top-header {
  display: flex;
  justify-content: space-between;
}

#top-header a {
  text-decoration: none;
  color: black;
}

#tools {
  font-size: 25px;
}

.siteName {
  font-size: 40px;
}

/* Navigation Styles */
.top-nav {
  background-color: darkblue;
}

.top-nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: 25px;
}

.top-nav li, .top-nav a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.top-nav li:hover {
  background-color: cornflowerblue;
  color: darkblue;
  padding: 10px;
}

/* Content (Index.ejs) Styles */

.hero-img {
  width: 100%;
  z-index: -1;
}

.button-img {
  width: 125px;
  cursor: pointer;
}

.hero-pop {
  color: skyblue;
  -webkit-text-stroke: 1px cornflowerblue;
  line-height: 1px;
  position: absolute;
  left: 15px;
  top: 200px;
  background: rgba(255, 255, 255, 0.7);
}

.feature-details {
  display: flex;
  flex-direction: column-reverse;
}

.reviews ul {
  list-style-position: inside;
  padding-left: 2px;
  line-height: 30px;
}

.upgrades ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 5px;
  column-gap: 10px;
  row-gap: 30px;
  text-align: center;
}

.upgrades li {
  width: 48%;
}

.upgrades div {
  display: flex;
  height: 90px;
  background: skyblue;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
}

#inv-display {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.75em;
  gap: 10px;
}

#inv-display img {
  height: 10em;
  padding-top: 10px;
}

#inv-display li {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

.highlight {
  font-weight: bold;
}

.vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vehicle-image img {
  margin-top: 45px;
  border: 1px solid black;
  width: 100%;
}

.vehicle-details {
  display: flex;
  flex-direction: column;
}

.details {
  justify-content: center;
}

@media screen and (max-width: 599px) {
  /* This will be for the horizontal scrolling of nav bar for mobile view */
  .top-nav ul {
    overflow: auto;
    white-space: nowrap;
  }

  .top-nav ul li {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    padding-right: 15px;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-image: url(/images/site/checkerboard.jpg);
    display: flex;
    justify-content: center;
    font-size: 32px;
  }

  #wrapper {
    margin: 30px 0 30px 0;
    background-color: white;
    width: 1500px;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
  }

  .hero-pop {
    width: 250px;
    left: 25%;
    top: 40%;
    transform: translateY(-40%);
  }
  
  .feature-details {
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    column-gap: 10px;
  }

  .reviews ul {
    line-height: 50px;
  }

  #inv-display img {
    height: 7em;
  }

  #inv-display {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #inv-display li {
    height: 400px;
    width: 400px;
  }

  .vehicle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .vehicle-details {
    display: flex;
    width: 60%;
  }
}